@import url('https://fonts.googleapis.com/css2?family=Anta&family=Rubik:ital@0;1&display=swap');


:root {
    --laranja: #ff7b00;
    --verde: #ccff33;
    --preto: #000000;
    --vermelho: #6a040f;
    --font-texto: "Anta", sans-serif;
    --font-titulo:"Rubik", sans-serif;
                            }

body {
    background-color: var(--preto);
    color: var(--laranja);
    font-family: var(--font-texto);


}

.conteudo-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 36px;
}

.titulo-principal span{
    color: var(--vermelho);
}

.botao {
    font-family: var(--font-texto);
    background-color: var(--laranja);
    color: var(--preto);
    display: flex;
    justify-content: center;
    padding: 1em;
    width: 100%;
    border-bottom: 4px solid var(--laranja);
    border-left: 4px solid var(--laranja);
    border-right: 4px solid var(--laranja);
    border-top: none;
}

.botoes {
    display: block;
}


.botao:first-child {
    border-radius: 40px 40px 0 0;
}

.botao:last-child {
    border-radius: 0 0 40px 40px;
}

.ativo{
    background-color: var(--vermelho);
    border-bottom: 4px var(--vermelho)
}


@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }

    .botao:first-child{
        border-radius: 40px 0 0 0;
    }

    .botao:last-child{
        border-radius: 0 40px 0 0;
    }

}
    

    
